:root {
    --dark: #171717;
    --light: #D9ECED;
    --green: #63D6DC;
    --blue: #628EE1;
    --purple: #9455EB;
    --pink: #E432F7;
    --syncopate: 'Syncopate', sans-serif;
    --inter: 'Inter', sans-serif;
    --audiowide: 'Audiowide', cursive;
    --size-sm: 1rem;
    --size-md: 1.5rem;
    --size-lg: 2.25rem;
    --size-xxxlg: 6rem;
}

html * {
    box-sizing: border-box;
}

html, #root {
    min-height: 100vh;
    height: 100%;

    background-color: var(--dark);
}

#root {
    display: flex;
    flex-direction: column;
}